.form-pagamento {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}

.btn-confirmar {
  background-color: #278114;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1d6d0c;
  }
}

.btn-cancelar-pagamento {
  background-color: var(--corCinzaEscuro);
  color: var(--corBranco);
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #747373;
  }
}
